@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
    background-color: #2563eb;
    color: white;
    padding: 8px 20px;
    border-radius: 6px;
    font-weight: 600;
}

.btn-secondary {
    background-color: #e5e7eb;
    color: #374151;
    padding: 8px 20px;
    border-radius: 6px;
}

